<div class="px-10 pb-6">
  <div class="flex flex-col gap-2">
    <nuxeo-case-list-table
      [shouldShowResults]="false"
      [defaultColumnOptions]="getDefaultColumnOptions()"
      [tableItems]="sourceRows()"
      [tableConfig]="columnsConfig()"
      actionsHeader="Åtgärd"
      [actionsTemplate]="hideAddButton() ? null : actionsTpl"
      [loading]="false"
      [pageSize]="25">
    </nuxeo-case-list-table>
    @if (!hideAddButton()) {
      <nuxeo-refs-button-with-dialog
        [refType]="refType()"
        class="self-end"
        (addContact)="addContact($event)"
        [parentRef]="parentRef()"
        heading="Lägg till">
      </nuxeo-refs-button-with-dialog>
    }
  </div>

  <ng-template #actionsTpl let-item>
    <digi-button
      (afOnClick)="removeContact(item)"
      [attr.af-size]="'small'"
      [attr.af-variation]="'function'"
      [attr.af-full-width]="false">
      <digi-icon-trash slot="icon" />
      Ta bort
    </digi-button>
  </ng-template>
</div>
