<div class="flex flex-col gap-2">
  <digi-button
    (afOnClick)="isContactDialogOpen.set(true)"
    [attr.af-size]="'small'"
    [attr.af-variation]="'secondary'"
    [attr.af-full-width]="false">
    {{ fieldName() === 'avsandare' ? 'Lägg till avsändare' : 'Lägg till mottagare' }}
  </digi-button>
  <digi-dialog
    (afOnClose)="isContactDialogOpen.set(false)"
    [attr.af-heading]="fieldName() === 'avsandare' ? 'Lägg till avsändare' : 'Lägg till mottagare'"
    [attr.af-size]="'small'"
    [attr.af-show-dialog]="isContactDialogOpen()">
    <div>
      <form [formGroup]="form" class="">
        <div class="flex flex-col gap-4">
          <div>
            <h4 class="font-semibold text-gray-500">Namn</h4>
            <digi-form-input
              [formControlName]="'namn'"
              af-label=" "
              [attr.af-variation]="'medium'"
              [attr.af-type]="'text'"
              af-validation="neutral">
            </digi-form-input>
            <h4 class="mt-4 font-semibold text-gray-500">Organisation/Företag</h4>
            <digi-form-input
              [formControlName]="'org'"
              af-label=" "
              [attr.af-variation]="'medium'"
              [attr.af-type]="'text'"
              af-validation="neutral">
            </digi-form-input>
            <h4 class="mt-4 font-semibold text-gray-500">Email</h4>
            <digi-form-input
              [formControlName]="'email'"
              af-label=" "
              [attr.af-variation]="'medium'"
              [attr.af-type]="'text'"
              af-validation="neutral">
            </digi-form-input>
            <h4 class="mt-4 font-semibold text-gray-500">Telefon</h4>
            <digi-form-input
              [formControlName]="'telefon'"
              af-label=" "
              [attr.af-variation]="'medium'"
              [attr.af-type]="'text'"
              af-validation="neutral">
            </digi-form-input>
            <h4 class="mt-4 font-semibold text-gray-500">Adress</h4>
            <digi-form-input
              [formControlName]="'adress'"
              af-label=" "
              [attr.af-variation]="'medium'"
              [attr.af-type]="'text'"
              af-validation="neutral">
            </digi-form-input>
          </div>
        </div>
        <div class="flex gap-2 pt-10">
          <digi-button
            (afOnClick)="isContactDialogOpen.set(false)"
            [attr.af-size]="'medium'"
            [attr.af-variation]="'secondary'"
            [attr.af-full-width]="false">
            Avbryt
          </digi-button>
          <digi-button
            (afOnClick)="addContact(); isContactDialogOpen.set(false)"
            [attr.af-size]="'medium'"
            [attr.af-variation]="'primary'"
            [attr.af-full-width]="false">
            Spara
          </digi-button>
        </div>
      </form>
    </div>
  </digi-dialog>
  <!-- contacts is the signal input from parent, to track its changes there.
    Since that component is used as ngComponentOutlet and cannot send output when data changes -->
  @if (contacts()().length) {
    <nuxeo-case-list-table
      [shouldShowResults]="false"
      (updatedTableItems)="updateEditedData($event)"
      class="max-h-[200px] overflow-auto"
      [tableItems]="contacts()()"
      [tableConfig]="customColumnConfig"
      actionsHeader="Åtgärd"
      [actionsTemplate]="actionsTpl"
      [loading]="false"
      [pageSize]="25"
      [defaultColumnOptions]="getDefaultColumnOptions()">
    </nuxeo-case-list-table>
  }
  <ng-template #actionsTpl let-item>
    <digi-button
      (afOnClick)="removeContact(item)"
      [attr.af-size]="'small'"
      [attr.af-variation]="'function'"
      [attr.af-full-width]="false">
      <digi-icon-trash slot="icon" />
      Ta bort
    </digi-button>
  </ng-template>
</div>
