.icon-white {
  --digi--icon--color: white;
}

.icon-black {
  --digi--icon--color: #1b345d;
}

.table-icon-active {
  color: #1b345d;
}

.digi-button {
  border: 0;
  border-radius: 0;
  height: 100%;
}
