<form [formGroup]="form()" class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-semibold" id="external-edit-right-label">Right</div>
    <digi-form-select
      [formControlName]="'permission'"
      af-label=" "
      [attr.af-variation]="'medium'"
      [attr.af-placeholder]="'Read'"
      [attr.id]="'external-edit-right'"
      [attr.aria-labelledby]="'external-edit-right-label'">
      @for (option of permissionOptions(); track option.id) {
        <option [value]="option.id">{{ option.label }}</option>
      }
    </digi-form-select>
  </div>

  <div class="grid gap-4 md:grid-cols-2">
    <div class="flex flex-col gap-2">
      <div class="text-sm font-semibold" id="external-edit-begin-label">Från</div>
      <digi-calendar-datepicker
        [afLabel]="''"
        [formControlName]="'begin'"
        [attr.id]="'external-edit-begin'"
        [attr.aria-labelledby]="'external-edit-begin-label'">
      </digi-calendar-datepicker>
    </div>
    <div class="flex flex-col gap-2">
      <div class="text-sm font-semibold" id="external-edit-end-label">Till *</div>
      <digi-calendar-datepicker
        [afLabel]="''"
        [formControlName]="'end'"
        [attr.id]="'external-edit-end'"
        [attr.aria-labelledby]="'external-edit-end-label'">
      </digi-calendar-datepicker>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <div class="text-sm font-semibold" id="external-edit-comment-label">E-postmeddelande med avisering</div>
    <digi-form-textarea
      [formControlName]="'comment'"
      af-variation="medium"
      [attr.id]="'external-edit-comment'"
      [attr.aria-labelledby]="'external-edit-comment-label'"
      [attr.af-placeholder]="'Hi! Could you comment on this document and...'">
    </digi-form-textarea>
  </div>

  <div class="mt-4 flex items-center justify-between gap-2">
    <digi-button
      type="button"
      (afOnClick)="dialogClose.emit()"
      [attr.af-size]="'medium'"
      [attr.af-variation]="'secondary'"
      [attr.af-full-width]="false">
      Avbryt
    </digi-button>
    <digi-button
      type="button"
      (afOnClick)="formSubmit.emit()"
      [attr.af-size]="'medium'"
      [attr.af-variation]="'primary'"
      [attr.af-full-width]="false">
      Uppdatera
    </digi-button>
  </div>
</form>
