@if (isLoading()) {
  <div class="p-6">Laddar beredningsbeslut...</div>
} @else if (loadError()) {
  <div class="p-6">Kan inte ladda beredningsbeslut.</div>
} @else if (document()) {
  <nuxeo-document-info-page
    [docId]="document()!.uid"
    [title]="document()!.title"
    subtitle="Beredningsbeslut"
    detailTitle="Beredningsbeslut"
    [statusItems]="statusItems()"
    [detailItems]="detailItems()"
    [auditEntries]="auditEntries()"
    [showEdit]="canEdit()"
    editDialogHeading="Redigera beredningsbeslut"
    [editConfig]="editConfig()"
    [isEditOpen]="isEditOpen()"
    [isSaving]="isSaving()"
    (editOpen)="openEdit()"
    (editClose)="closeEdit()"
    (formResult)="handleEditResult($event)">
  </nuxeo-document-info-page>
} @else {
  <div class="p-6">Kan inte ladda beredningsbeslut.</div>
}
